.Order {
	display: flex;
	flex-direction: column;
	padding: 20px 20px 20px 25px;
	border-radius: 15px;
	background-color: #141432;
	color: white;
	width: 100%;
}

.Order > div:last-of-type {
	padding-top: 19px;
}

/*
.Burger:hover > * {
  margin-top: -50%;
  transform: translateY(180%);
  transition: all 1s ease-out;
  height: max-content;
}
*/
