@use '../../index.scss' as global;

.order-total {
	display: flex;
	flex-direction: column;
	gap: 15px;

	p {
		font-size: 1.4rem;
		font-weight: 600;
		text-align: center;
	}

	> div {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 4vw;
	}

	> div > p:last-child {
		background-color: white;
	}

	> div > button {
		border-radius: global.$border-radius;
		background-color: global.$button-main-color;
		color: global.$text-color;
		flex: 1;
		padding: 7px;
		font-size: 1rem;
	}
}

.order-total::before {
	content: '';
	border-top: 1px solid #999;
	border-image: linear-gradient(90deg, #888, #fff, #888) 40;
}

// @media only screen and (max-width: 660px) {
// 	.order-total-Container {
// 		gap: 20px !important;
// 		flex-direction: column;
// 	}
// }
