.order-ingredient {
	align-items: center;
	background-color: #141432;
	border-radius: 15px;
	display: flex;
	gap: 0.75rem;
	width: 100%;
}

.order-ingredient > img {
	user-select: none;
	width: 80px;
}

.order-ingredient > p {
	text-align: left;
	border-bottom: 1px solid #666;
	border-image: linear-gradient(90deg, #aaa, #fff0) 12;
	text-transform: capitalize;
	width: 100%;
}

.order-ingredient > svg {
	user-select: none;
	margin-right: 13px;
	margin-top: 7px;
	min-width: 27px;
	max-width: 27px;
	grid-area: remove;
	fill: #666;
}

.order-ingredient .removable {
	fill: #f44336 !important;
	cursor: pointer;
}

/* @media only screen and (max-width: 350px) {
	.order-ingredient p {
		display: none;
	}
} */
