@use '../../index.scss' as global;

$padding: 15px;

.cart-item {
	.hide-buttons {
		max-height: 78px;
	}

	.cart-item-main-body {
		position: relative;
		z-index: 1;
		display: flex;
		flex-wrap: wrap;
		background-color: #141432;
		border-radius: global.$border-radius;
		overflow: hidden;

		.cart-item-image-total {
			cursor: pointer;
			padding: $padding 0 $padding $padding;
			display: flex;
			align-items: center;
			flex: 1;
			gap: global.$gap;
			img {
				user-select: none;
				pointer-events: none;
				min-width: 60px;
				width: 60px;
			}
		}

		.cart-item-expand-button {
			flex: 0.3;
		}

		.cart-item-buttons {
			flex: 1;
			display: flex;
			min-height: 50px;
			> :last-child {
				background-color: #ef4444;
			}
		}

		input,
		button {
			background-color: transparent;
			text-align: center;
			border: none;
			padding: 0;
			color: inherit;
			width: 100%;
			font-size: large;
			min-width: 50px;
		}

		.rotated {
			transform: rotate(90deg);
		}
	}

	.cart-item-additional-body {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		background-color: #131329;
		font-size: 0.7rem;
		color: #aaa;
		text-transform: capitalize;
		border-radius: 0 0 15px 15px;
		padding: 33px 18px 18px 18px;
		transform: translateY(-15px);
	}
}
