.FormButtonWrapper {
	display: flex;
	height: 60px;
	gap: 20px;
}

.FormButtonWrapper > button {
	border: none;
	cursor: pointer;
	color: #fff;
	border-radius: var(--border-radius);
	font-weight: 400;
	font-size: 1.1rem;
	font-family: Poppins;
	width: 100%;
}

.FormButtonWrapper > button:last-child {
	background-color: var(--inactive-color);
}

.FormButtonWrapper > button:first-child {
	background-color: var(--active-color);
}
