$gap: 40px;

.food-page {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: $gap;

	> div {
		display: flex;
		flex-direction: column;
		gap: $gap;
	}

	> div:first-of-type {
		width: 80%;
	}
}

@media only screen and (max-width: 660px) {
	.food-page {
		flex-direction: column;

		> div:first-of-type {
			width: 100%;
		}
	}
}
