@use '../../index.scss' as global;

.ingredient-tag {
	background-color: global.$main-color;
	color: global.$text-color;
	border-radius: global.$border-radius;
	display: flex;
	align-items: center;
	gap: 7px;
	padding: 2px;
	max-width: max-content;
	height: 20px;
	overflow: hidden;

	div {
		display: flex;
		justify-content: center;
		min-width: 20px;
		background-color: #499d2f;
	}

	img {
		max-height: 16px;
		min-height: 16px;
	}

	label {
		font-size: 0.75rem;
		font-weight: 300;
	}
}
