@use '../../index.scss' as global;

.ingredient-tag {
	background-color: global.$main-color;
	color: global.$text-color;
	border-radius: global.$border-radius;
	display: flex;
	align-items: center;
	gap: 7px;
	padding: 2px;
	height: 20px;
	overflow: hidden;
	justify-content: space-between;
	min-width: max-content;

	div {
		display: flex;
		justify-content: center;
		min-width: 18px;
		background-color: #499d2f;
		margin-left: auto;
	}

	img {
		max-height: 16px;
		min-height: 16px;
	}

	label {
		font-size: 0.75rem;
		font-weight: 300;
	}
}
@media only screen and (max-width: 750px) {
	.ingredient-tag {
		flex: 1 20% 20%;
	}
}
