$image-overflow: 35px;
$border-radius: 15px;
$text-color: white;

.foodcard-container {
	color: $text-color;
	background-color: var(--background-secondary);
	border-radius: $border-radius;
	margin-top: $image-overflow;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 3px;
	min-width: 160px;
	min-height: 200px;
	max-width: 300px;
	flex: 1;

	img {
		height: 100px;
		margin-top: calc($image-overflow * -1);
	}

	h2 {
		text-align: center;
		font-weight: 600;
		font-size: 2rem;
		margin: 0 10px;
	}

	button {
		height: 40px;
		font-size: 1rem;
		color: inherit;
		border: none;
		width: 100%;
		border-radius: 0px 0px $border-radius $border-radius;
		background-color: #499d2f;
		text-transform: inherit;
		cursor: pointer;
		margin-top: 10px;
	}
}
