@use '../../index.scss' as global;

.hamburger-menu {
	z-index: global.$z-index-menu-buttons;
	width: 35px;
	height: 50px;
	position: relative;
	cursor: pointer;
	margin-bottom: 4px;

	> span {
		position: absolute;
		height: 2px;
		width: 100%;
		transition: 0.5s;
		border-radius: 100vw;
		background-color: global.$text-color-sideitem;
	}

	&:hover > span {
		background-color: global.$color-highlight;
	}

	:nth-child(1) {
		top: 12px;
	}

	:nth-child(2) {
		top: 24px;
	}

	:nth-child(3) {
		top: 36px;
	}
}

.hamburger-menu-close {
	position: fixed;
	:nth-child(1) {
		transform: translateY(12px) rotate(-45deg);
	}

	:nth-child(2) {
		opacity: 0;
	}

	:nth-child(3) {
		transform: translateY(-12px) rotate(45deg);
	}
}
