@use '../../index.scss' as global;

nav {
	display: flex;
	justify-items: flex-start;
	align-items: center;
	max-height: 47px;
	margin: 30px 0px;
	width: 100%;
	gap: 30px;

	> div {
		position: relative;
		font-weight: 300;
		font-size: 1.4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 18px;

		a {
			color: global.$text-color-sideitem;
			font-size: 1.6rem;
			line-height: 1.6rem;
			text-decoration: none;
			background: none;
			border: none;
			font-weight: inherit;
			cursor: pointer;
		}

		a.active {
			color: global.$text-color-primary;
		}

		a:hover {
			color: global.$active-color !important;
		}
	}

	.logo {
		width: 250px;
		min-width: 250px;
		color: #8893b5;

		&.active {
			color: white;
		}

		&:hover {
			color: #00ab33 !important;
		}
	}
}

@media only screen and (max-width: 480px) {
	nav {
		> :nth-child(3) {
			display: none;
		}
		> :nth-child(2) {
			margin-right: auto;
		}
	}

	nav {
		.logo {
			position: absolute;
			transform: translateY(-22px);
			clip-path: polygon(0 0, 20% 0, 20% 100%, 0% 100%);
		}
	}
}

@media only screen and (max-width: 800px) {
	nav {
		position: relative;
		display: flex;
		> :nth-child(3) {
			display: none;
		}

		.mobile-menu {
			z-index: global.$z-index-menu;
			position: fixed;
			top: 0;
			left: 0;
			display: flex;
			padding-top: 25px;
			justify-content: flex-start;
			flex-direction: column;
			background-color: global.$secondary-color;
			width: 70%;
			height: 100vh;
			gap: 0;
			filter: drop-shadow(
				40px 0 40px rgba(global.$button-main-color, 0.4)
			);

			> a {
				width: 100%;
				text-align: center;
				height: 60px;
				line-height: 3.5rem;
			}

			:nth-child(odd) {
				background-color: global.$main-color;
			}
		}

		> :nth-child(2) {
			margin-right: auto;
		}
	}
}

@media only screen and (min-width: 800px) {
	nav {
		> :first-child {
			display: none;
		}
		> :nth-last-child(2) {
			margin-right: auto;
		}
	}
}
