#footer-element {
	display: flex;
	align-items: flex-start;
	gap: 5px;
}

#footer-element > div {
	display: flex;

	min-width: max-content;
	gap: 5px;
}

#footer-element-Container :first-child {
	margin-bottom: 8px;
}

#footer-element > div > div > h3 {
	white-space: nowrap;
	font-weight: 600;
	font-size: 1.1rem;
}

#footer-element pre {
	font-size: 0.78rem;
	font-weight: 400;
}

#footer-element-icon {
	min-height: 17px;
	min-width: 22px;
	max-height: 17px;
	margin-top: 4px;
}
