@use '../../index.scss' as global;

footer {
	display: flex;
	min-width: 100vw;
	padding: 30px 40px;
	gap: 30px;
	background-color: global.$secondary-color;
	color: global.$text-color-sideitem;
	fill: global.$text-color-sideitem;
	z-index: global.$z-index-footer;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
}

.footer-element {
	transform: translate(-10px);
	display: flex;
	gap: 5px;
	max-width: 130px;
	p {
		font-size: 0.78rem;
		font-weight: 300;
	}

	h3 {
		white-space: nowrap;
		font-weight: 600;
		font-size: 1.1rem;
		text-transform: uppercase;
	}

	svg {
		height: 17px;
		min-height: 17px;
		min-width: 22px;
		margin-top: 4px;
	}

	div {
		display: flex;
		flex-direction: column;
	}
}
