@use '../../index.scss' as global;

footer {
	display: flex;
	min-width: 100vw;
	background-color: #141432;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	color: #8893b5;
	fill: #8893b5;
	z-index: global.$z-index-footer;

	> div {
		display: flex;
		height: max-content;
		max-width: 1100px;
		width: 100%;

		> div {
			display: flex;
			justify-content: space-between;
			padding: 25px;
			width: 100%;
		}
	}
}

@media only screen and (max-width: 660px) {
	footer > div {
		align-items: center;
		gap: 30px;
		width: auto !important;

		> div {
			flex-direction: column;
			align-items: flex-start;
			gap: 30px;
			width: auto !important;
		}
	}
}
