@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Poppins;
	transition: 100ms;
	--background-main: #1d1d42;
	--background-secondary: #141432;
	--border-radius: 15px;
	--active-color: #499d2f;
	--inactive-color: #555b69;
	--title-background-color: #4e2ecf;
	--border-color: #6363ff;
	--main-button-color: #524eee;
}

#root,
html,
body {
	width: auto !important;
	overflow-x: hidden !important;
	background: var(--background-main);
	/* background-image: linear-gradient(-45deg, #28285a, #1c1c3f); */
	color: white;
	min-height: 100vh;
	position: relative;
	scrollbar-gutter: stable;
}

/* width */
::-webkit-scrollbar {
	width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #3b37ae;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(87, 85, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@media only screen and (max-width: 660px) {
	.App {
		padding-bottom: 400px !important;
	}
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 40px;
	width: 100%;
	padding-bottom: 180px;
}

.App-Container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1100px;
	width: 100%;
	gap: 20px 0;
}
