$border-radius: 15px;
$main-color: #1d1d42;
$text-color: white;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Poppins;
	transition: 100ms;
	--background-main: #1d1d42;
	--background-secondary: #141432;
	--border-radius: 15px;
	--active-color: #499d2f;
	--inactive-color: #555b69;
	--title-background-color: #4e2ecf;
	--border-color: #6363ff;
	--main-button-color: #524eee;
}
