$border-radius: 15px;
$main-color: #1d1d42;
$secondary-color: #141432;
$tertiary-color: #0b0b1c;
$button-main-color: #524eee;
$inactive-color: rgb(100 116 139);
$active-color: #499d2f;
$text-color-primary: white;
$text-color-inessential: #94a3b8;
$text-color-essential: #cbd5e1;
$gap: 15px;
$red: #ef4444;
$green: #16a34a;
$z-index-modal: 10;
$z-index-menu-buttons: 8;
$z-index-menu: 7;
$z-index-footer: 6;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Poppins;
	transition: 75ms;
	-webkit-tap-highlight-color: transparent;
}

button {
	border: none;
	padding: 0;
	cursor: pointer;
	padding: 10px 20px;
	background-color: $button-main-color;
	border-radius: $border-radius;
	color: white;
	z-index: 1;
	text-transform: capitalize;
}

// .price {
// 	&:after {
// 		content: '₪';
// 	}
// }

// *:focus {
// 	outline: none !important;
// 	border: 1px solid red;
// 	border-radius: $border-radius;
// }
