$border-radius: 15px;
$main-color: #1d1d42;
$secondary-color: #141432;
$button-main-color: #524eee;
$inactive-color: rgb(100 116 139);
$text-color-primary: white;
$text-color-inessential: #94a3b8;
$text-color-essential: #cbd5e1;
$gap: 15px;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Poppins;
	transition: 75ms;
	--background-main: #1d1d42;
	--background-secondary: #141432;
	--border-radius: 15px;
	--active-color: #499d2f;
	--inactive-color: #555b69;
	--title-background-color: #4e2ecf;
	--border-color: #6363ff;
	--main-button-color: #524eee;
}

button {
	background: none;
	border: none;
	padding: 0;
}

// .price {
// 	&:after {
// 		content: '₪';
// 	}
// }

// *:focus {
// 	outline: none !important;
// 	border: 1px solid red;
// 	border-radius: $border-radius;
// }

button {
	cursor: pointer;
	padding: 10px 20px;
	background-color: $button-main-color;
	border-radius: $border-radius;
	color: white;
	z-index: 1;
	text-transform: capitalize;
}
